.header {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1.25rem;
  height: 4.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #192038;
  box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
}
.logo a {
  text-decoration: none;
  color: #192038;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-avatar img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}
.user-name {
  margin-left: 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #192038;
}
