<div class="wrapper">
  <div class="container">
    <h1>Login to Admin Panel</h1>

    <mat-card class="form">
      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Email"
          autocomplete="off"
          [(ngModel)]="email"
          email
        />
        <mat-error>Invalid email address</mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input
          matInput
          placeholder="Password"
          type="password"
          [(ngModel)]="password"
          (keyup.enter)="login()"
        />
        <mat-error>Please input password</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        class="btn-login"
        color="primary"
        (click)="login()"
      >
        <span> Login</span>
      </button>
    </mat-card>
  </div>
</div>
